<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/" class="search-form">
      <p>
        <div class="input-group">
          <input class="form-control" type="text" name="keyword" placeholder="Enter search keyword">
        </div>
      </p>
      <p>
        <select name="searchIndex">
                <option value="All">All Departments</option>
                <option value="ArtsAndCrafts">Arts, Crafts and Sewing</option>
                <option value="Books">Books</option>
                <option value="Collectibles">Collectibles</option>
                <option value="Electronics">Electronics</option>
                <option value="Toys">Toys and Games</option>
                <option value="VideoGames">Video Games</option>
        </select>
      </p>
      <p>

      </p>
      <button type="submit" class="submit-btn btn btn-lg btn-primary btn-block">Submit</button>
    </form>
  </body>
</html>